<div  class="confirm-panel">
	<h3 id="confirm-panel">Оформление заказа</h3>

	<p class="notification bg-warning">
		Раздел в разработке
	</p>

	<div *ngIf="cartService.selectedWhouse.delivery_commentary" class="alert alert-warning">
		{{cartService.selectedWhouse.delivery_commentary}}
	</div>

	<!-- {{cartService.selectedWhouse.name}}({{cartService.selectedWhouse.real_name}})
	<p>{{cartService.getOrderInfo(cartService.selectedWhouse.id).cost}}</p>
	<p>{{cartService.getOrderInfo(cartService.selectedWhouse.id).amount}}</p>
	 -->
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Доставка</h3>
	  </div>
	  <div class="panel-body">
		<div class="paytype-panel">
			<mat-radio-group class="example-radio-group" (change)="deliveryTypeChange($event)" [(ngModel)]="selectedDeliveryType">
			  <mat-radio-button class="example-radio-button" *ngFor="let types of deliveryTypes" [value]="types">
			    {{types.name}}
			    <span class="label label-info" *ngIf="types.id===0">
			    	Товар резервируется на срок до 3 дней
			    </span> 
			  </mat-radio-button>

			</mat-radio-group>
		</div>
	  </div>
	</div>


	<div class="panel panel-default" *ngIf="selectedDeliveryType.id===1">
	  <div class="panel-heading">
	    <h3 class="panel-title">Доставка</h3>
	  </div>

	  <div class="panel-body">
	  	<div>
		  	<h3 style="display: inline-block;">
		  		Стомость
		  	</h3>

		  	<h2 style="display: inline-block;">
		  		<span class="label label-default">
		  			{{getDeliveryCost().toLocaleString()}} руб
		  		</span>
		  	</h2>
	  	</div>


		<mat-form-field>
		  <input matInput [matDatepicker]="picker1" placeholder="Дата доставки" [formControl]="date" [min]="minDate">
		  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
		  <mat-datepicker touchUi="true" #picker1></mat-datepicker>
		</mat-form-field>



		<mat-form-field style="width: 100%">
		  <mat-select 
		  (selectionChange)="onChange()" 
				[(ngModel)]="selectedDeliveryAddress"
				name="prodType"
				
		  placeholder="Адрес доставки"  >
		    <mat-option *ngFor="let item of deliveryAddress" [value]="item">{{item.text}}</mat-option>
		  </mat-select>
		</mat-form-field>


		<div class="transportCompanyList">
			<mat-radio-group [(ngModel)]="selectedTransportCompany">
			  <mat-radio-button class="example-radio-button" *ngFor="let item of transportCompanyList" [value]="item">
			    {{item.name}}
			  </mat-radio-button>
			</mat-radio-group>
			<div class="transportCompany" *ngIf="selectedTransportCompany && selectedTransportCompany.id===1">
				<p>Стоимость согласно текущим тарифам компании.</p>
				<p>
				Доставка осуществляется в следующие города:<br/>
				Москва <br/>
				Владимир<br/>
				Тула<br/>
				Тверь<br/>
				Клин<br/>
				Ярославль<br/>
				</p>
			</div>
			<div class="transportCompany" *ngIf="selectedTransportCompany && selectedTransportCompany.id===2">
<!-- <div>
	Наименование:
</div> -->
			  <mat-form-field class="full-width">
			    <input matInput placeholder="Наименование транспортной компании" value=""
			      [(ngModel)]="transportCompany.name" 
			      [required]="true"
			      
			      name="name"
			      id="name"
			      
			      >
			  </mat-form-field>
			<div>
<div>
	Пункт назначения:
</div>

				<mat-radio-group class="example-radio-group" 
					[(ngModel)]="transportCompany.deliveryAddress">
				  <mat-radio-button class="example-radio-button" *ngFor="let item of transportCompany.deliveryList" [value]="item">
				    {{item.name}}
				  </mat-radio-button>
				</mat-radio-group>
			</div>

			<div>
<div>
	Упаковка:
</div>
				<mat-radio-group class="example-radio-group" [(ngModel)]="transportCompany.packType">
				  <mat-radio-button class="example-radio-button" *ngFor="let item of transportCompany.packList" [value]="item">
				    {{item.name}}
				  </mat-radio-button>
				</mat-radio-group>
			</div>

			<div>
<div>
	Страховка:
</div>
			<mat-checkbox [(ngModel)]="transportCompany.insuranse" [required]="true" [labelPosition]="after">
			Страховка</mat-checkbox>


			</div>

			</div>
		</div>

	  </div>
	</div>

	<div class="panel panel-default" *ngIf="selectedDeliveryType.id===2">
	  <div class="panel-heading">
	    <h3 class="panel-title">Самовывоз</h3>
	  </div>
	  <div class="panel-body">
		<mat-form-field>
		  <input matInput [matDatepicker]="picker1" placeholder="Дата самовывоза" [formControl]="date" [min]="minDate">
		  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
		  <mat-datepicker touchUi="true" #picker1></mat-datepicker>
		</mat-form-field>
		<p class="well">Пункт выдачи товара</p>

	  </div>
	</div>


	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Оплата</h3>
	  </div>
	  <div class="panel-body">
		<div class="paytype-panel">
			<mat-radio-group class="example-radio-group" [(ngModel)]="selectedPayType">
			  <mat-radio-button class="example-radio-button" *ngFor="let types of payTypes" [value]="types">
			    {{types.name}}
			    
			    <mat-icon *ngIf="types.id===3">credit_card</mat-icon>
			  </mat-radio-button>
			</mat-radio-group>
		</div>
	  </div>
	</div>


	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Комментарий</h3>
	  </div>
	  <div class="panel-body">
		<div class="paytype-panel">
			<mat-form-field style="width: 100%">
			  <textarea matInput placeholder="Комментарий" matTextareaAutosize matAutosizeMinRows="2"
			            matAutosizeMaxRows="25"></textarea>
			</mat-form-field>
		</div>
	  </div>
	</div>

	<div class="total">
	  	<h4 style="display: inline-block;">Итого по заказу:</h4>
	  	<h2 style="display: inline-block;">
	  		<span class="label label-default">
	  			{{cartService.getOrderInfo(cartService.selectedWhouse.id).cost.toLocaleString()}} руб
	  		</span>
	  	</h2>
  	</div>



	<div class="buttons">
		<button mat-raised-button color="primary" >
			Оформить
		</button>

	</div>

</div>